# TAREA 11

## 1

Dad la instrucci贸n que defina la tabla de frecuencias absolutas de un vector llamado "alumnos"

In [2]:
import pandas as pd
import numpy as np

Defino el vector "alumnos"

In [4]:
alumnos = ["manolito","juanita","fernandito","estebita","mariela","conchita"]

In [11]:
t1 = pd.crosstab(index=[alumnos],
                columns="count",
                rownames=["alumnos"], colnames=[""],
                margins=True)
t1

            count  All
alumnos
conchita        1    1
estebita        1    1
fernandito      1    1
juanita         1    1
manolito        1    1
mariela         1    1
All             6    6

## 2

Con una sola instrucci贸n, definid la tabla de frecuencias relativas de un vector llamado "edades"

In [12]:
edades = [42,58,37,41,37,58]

In [14]:
pd.crosstab(index=[edades],columns='')/pd.crosstab(index=[edades],columns='').sum()

row_0
37    0.333333
41    0.166667
42    0.166667
58    0.333333
Name: __dummy__, dtype: float64

# 3

Con una sola instrucci贸n, definid la tabla bidimensional conjunta de frecuencias absolutas de dos vectores llamados "altura" y "peso", de forma que las filas correspondan a "altura" y las columnas a "peso"

In [21]:
altura = [1.75]
peso = [75]

tb = pd.crosstab(index= [altura],
                columns = [peso],
                rownames = ["altura"],
                colnames = ["peso"])
tb

peso    75
altura
1.75     1

# 4

Con una sola instrucci贸n, definid la tabla bidimensional conjunta de frecuencias relativas calculadas dentro del total, de dos vectores llamados "edad" y "altura", de forma que las filas correspondan a "altura" y las columnas a "edad"

In [23]:
edad = [17]

In [24]:
pd.crosstab(index=[altura], 
            columns = [edad])/pd.crosstab(index=[altura], 
                                        columns = [edad]).sum()

col_0   17
row_0
1.75   1.0