# FUNCIONES EN PYTHON

In [22]:
def saludito():
    nombre = str(input("¿Cómo te llamas?"))
    if nombre:
        print("Hola, " +nombre + ", invitame a un pico.")
    else:
        print("Hola, disparame, por favor.")
    return

In [32]:
saludito()

¿Cómo te llamas?Rajoy
Hola, Rajoy, invitame a un pico.

In [28]:
def sumaresta(x,y=0):
    suma =x+y
    resta=x-y
    return (suma,resta)

In [30]:
sumaresta (2)

(2, 2)

In [31]:
sumaresta (2,3)

(5, -1)

In [19]:
def sumacuadrados(*datos):
    total=0
    for d in datos:
        total += d**2
        print (total)
    return total

In [20]:
sumacuadrados (1,2,3)

1
5
14

14

In [6]:
sumacuadrados(2.5, 3.6, 8.9, -2, 12.67)

262.9489

In [7]:
total

NameError: name 'total' is not defined

In [49]:
help(return)

SyntaxError: invalid syntax (<ipython-input-49-69c27322b5bc>, line 1)

# FUNCIONES ANÓNIMAS

In [34]:
doble = lambda *x: x*2

SyntaxError: invalid syntax (<ipython-input-34-392487cfc40d>, line 1)

In [22]:
doble (5)

10

In [26]:
emperador = lambda marco_antonio: marco_antonio**2

In [27]:
emperador(8)

64

In [35]:
doble (5)

(5, 5)

In [36]:
def suma(x,y):
    return x+y

In [37]:
suma(5,6)

11

In [38]:
sumal = lambda x,y: x+y

In [39]:
sumal (5,3)

8

In [40]:
from functools import reduce

In [41]:
data = [1,2,3,4,5,6,7,8,9,10]

In [43]:
filtraData = list(filter(lambda x: (x*2>8),data))

In [44]:
filtraData

[5, 6, 7, 8, 9, 10]

In [45]:
mapeaData = list(map(lambda x: x**2,data))

In [46]:
mapeaData

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
reduceData = reduce(lambda x,y: x+y,data)

In [48]:
reduceData

55